<!DOCTYPE html>
<html>
  <head>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>


    <title>Socket</title>
    <link rel='stylesheet' href='/css/chatroom.css' />
  </head>
  <body>
  <p id="yy" style="display:none"><%=username%></p>
  <div class="fixed-header">
    <div class="container">
      <nav>
        <a href="/">Home</a>
        <a href="#">About</a>
        <a href="#">Products</a>
        <a href="#">Services</a>
        <a id="logout" href="">Logout</a>
      </nav>
    </div>
  </div>
  <div>
  <ul id="messages"></ul>
  <form action="" >
    <input id="m" autocomplete="off" /><button>Send</button>
  </form>
  </div>
  </body>
  <script src="/js/socket.js"></script>
</html>
